/* ======= Global Styles ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #304352, #d7d2cc);
  color: #fff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

@media only screen and (max-width: 40em) {
  p {
    font-size: .9rem;
    line-height: 1.3;
  }

}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.5em 1.3em;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

/*  =======  Hero Section ======= */

#hero {
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#hero p {
  display: inline-block;
  margin-bottom: 3em;
}

#hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero__text {
  flex-basis: 60%;
}

.hero__3d {
  flex-basis: 30%;
}

@media only screen and (max-width: 40em) {
  .hero__3d {
    display: none;
  }

  .hero__text {
    flex-basis: 100%;
  }
}

.socrates-3dmodel {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* ======= main Section ====== */

#main {
  background-color: #fff;
  color: #000;
  padding: 3em 0;
}

.primary-content {
  text-align: justify;
  text-justify: inner-word;
}

.section {
  margin-bottom: 2em;
}


/* ======= Quote Section ====== */

#quote {
  display: grid;
  place-items: center;
  height: 100vh;
}

.quote__text {
  width: 80%;
  margin: 0 auto;
}

.quote__text h3 {
  font-size: 2rem;
}

@media only screen and (max-width: 40em) {
  .quote__text h3 {
    font-size: 1.3rem;
  }
}

/* ======= Footer Section ====== */

footer {
  font-size: small;
  text-align: center;
  padding-bottom: 1em;
}