*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Makes the scrolling smooth. */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #304352, #d7d2cc);
  color: #fff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.5rem 1.3rem;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

/*  =======  Hero Section ======= */

#hero {
  padding: 250px 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#hero p {
  display: inline-block;
  margin-bottom: 3em;
}

#hero .container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  column-gap: 1em;
}

.socrates--3dmodel {
  width: 100%;
  height: 100%;
  min-height: 400px;
}


/* ======= Biography Section ====== */

#biography {
  background-color: #fff;
  color: #000;
  text-align: justify;
  text-justify: inner-word;

  padding: 3em 0;
}

#biography .container {
  margin-bottom: 5em;
}


/* ======= Quote Section ====== */

#quote {
  padding: 250px 0;
  text-align: center;
}

h3 {
  color: #d7d2cc;
  font-size: 2.7rem;
}

span {
  color: #304352;
  margin-left: 0.3em;
}

/* ======= Footer Section ====== */

footer {
  color: #fff;
  font-size: small;
  text-align: center;

  padding-bottom: 1em;
}

/* Change the style of the page when the screen size is less than 768px. */

@media only screen and (max-width: 48em) {

  .container {
    width: 70%;
  }

  #hero {
    padding: 200px 0;
  }

  #hero .container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
  }

  #hero p {
    text-align: justify;
    text-justify: inter-word;
  }

  .socrates--3dmodel {
    display: none;
  }
}